{% extends "base.html" %}
{% block content %}
			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-12">
								<h2>Hi, what's first we do?</h2>
								<p>It's a free to do list application.</p>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">

				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-6 droptarget">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured">
											<img src="static/images/pic01.jpg" alt="" />
											<div class="inner">
												<header>
													<h2>Put something here</h2>
													<p>Maybe here as well I think</p>
												</header>
												<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
											</div>
											</a>

									</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}