{% extends "base.html" %}
{% block content %}


			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<h2>Your list</h2>
						<div class="todo row">
							<div class="col-4 droptarget">

								<!-- Box -->
									<section class="box feature">
										<a href="{{ url_for('new_task') }}">
											<div class="card border-success mb-3 mx-auto" style="max-width: 18rem; text-align: center; border-radius: 1em;">
											  <div class="card-body text-success">
												<h5 class="card-title">Add New Card</h5>
												<p class="card-text"><i class="fa-solid fa-plus fa-7x"></i></p>
												  <button type="button" class="btn btn-outline-success my-4">Add</button>
											  </div>
											</div>
										</a>
									</section>

							</div>

							<div class="col-4 droptarget">
								<!-- Box -->
									<section class="box feature">
									<div class="card border-success mb-3 mx-auto" style="max-width: 18rem; text-align: center; border-radius: 1em;">
									  <div class="card-body text-success">
										<h5 class="card-title">Task #1</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										  <button type="button" class="btn btn-outline-success my-4">Done!</button>
									  </div>
									</div>
									</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}